$color-scheme-color: rgb(246, 149, 45);


.textarea {
	display: block;
	width: 500px;
	height: 200px;
	resize: none;
	border-style: inset;
	overflow: auto;
}

.emphasis {
	color: $color-scheme-color;
}

.upsize {
	font-size: 115%;
}

.contact {
	div {
		margin-top: 24px;
	}

	label {
		width: 60px;
	}

	input {
		width: 240px;
	}

	.submit-button {

		&:hover {
			background-color: $color-scheme-color;
			border-style: inset;

		}
	}
}