$color-scheme-main-color: rgb(246, 149, 45);
$color-scheme-secondary-color: rgb(253, 245, 207);

.textarea {
	display: block;
	width: 400px;
	height: 200px;
	resize: none;
	border-style: inset;
	overflow: auto;
}

.emphasis {
	color: $color-scheme-main-color;
}

.upsize {
	font-size: 115%;
}

.contact {
	div {
		margin-top: 24px;
	}

	label {
		width: 60px;
	}

	input {
		width: 240px;

		&:focus {
			background-color: rgb(253, 245, 207);
		}
	}
	textarea {

		&:focus {
			background-color: rgb(253, 245, 207);
		}
	}

	.submit-button {

		&:hover {
			background-color: $color-scheme-main-color;
			border-style: inset;

		}
	}


}

.contact-img {
	margin-right: 30px;
}