.wrapper {
  margin-top: 60px;

}

#brand {
  color: rgb(0, 156, 255);
}

.nav li {
  margin-top: -1px;
}

.parallax {
    /* The image used */
    background-image: url("/images/choco_cake.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
  height: 400px;
}

.parallax1 {
    /* The image used */
    background-image: url("/images/sberries.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header1 {
  height: 400px;
}

.parallax2 {
    /* The image used */
    background-image: url("/images/fruit_cake.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header2 {
  height: 400px;
}

.parallax3 {
    /* The image used */
    background-image: url("/images/galaxycake.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header3 {
  height: 400px;
}
