<h2 class="page-heading">About Electric Vegan Bakeshop</h2>

<div class="row">
	<article class="col-sm-8">
		<h3 class="emphasis">Our History</h3>
		<p>Cupcake ipsum dolor sit. Amet I love powder tiramisu caramels liquorice. I love ice cream marshmallow ice cream cookie tiramisu.</p>

		<p>Candy canes jujubes donut marshmallow. Bonbon gingerbread apple pie sweet. I love wafer candy croissant jelly-o.</p>

		<p>Cheesecake cookie topping. Macaroon I love I love sweet gummi bears oat cake lemon drops. Powder icing gummi bears sweet danish oat cake cheesecake bear claw. Pie croissant gummi bears ice cream pie I love sugar plum powder dessert. Sesame snaps sugar plum halvah tart I love donut cupcake I love. Biscuit fruitcake I love chocolate I love.</p>

		<p>Jelly biscuit sugar plum tart jelly beans bonbon dessert cake wafer. Biscuit chupa chups I love bonbon topping powder I love sugar plum. Apple pie I love pie pastry jelly-o I love croissant jelly. Chocolate cake jelly-o I love dragée halvah chocolate cake. Cupcake bonbon marshmallow I love cupcake sugar plum sweet. Cheesecake cotton candy I love topping brownie.</p>
	</article>

	<aside class="col-sm-4">
		<h3>Hours</h3>
		<ul class="list-unstyled">
			<li><strong>Sunday: </strong> 7AM - 11PM</li>
			<li><strong>Monday: </strong> 5AM - 11PM</li>
			<li><strong>Tuesday: </strong> 5AM - 11PM</li>
			<li><strong>Wednesday: </strong> 10AM - 4PM</li>
			<li><strong>Thursday: </strong> 5AM - 11PM</li>
			<li><strong>Friday: </strong> 5AM - 11PM</li>
			<li><strong>Saturday: </strong> 5AM - 11PM</li>
		</ul>

		<h3>Location</h3>
		<p>Electric Vegan Bakeshop <br>
		1601 Cherry Street <br>
		Philadelphia PA 19102 <br>
		<span class="emphasis upsize">555-EAT-CAKE</span></p>
	</aside>

</div>

<div class="row">
	<img class="col-sm-12 banner" src="images/fancy_donuts.jpg">
</div>
