<div class="row">
	<div class="col-md-7 contact">
		<h2>Contact Us!</h2>

		<div>
			<p>Do you need a <span class="emphasis upsize">craveworthy cheesecake</span> for your next event?</p>
			<p>Some <span class="emphasis upsize">delicious donuts</span>... or <span class="emphasis upsize">magnificent macarons</span>?</p>
			<p>A <span class="emphasis upsize">tantalizing tiramisu</span>?</p>
		</div>
		<div>
			<p>Send us a <span class="emphasis upsize">sweet</span> message in the contact form below.</p>
			<p>We'll get back to you within 24 hours!</p>
		</div>
		<div>
			<form method="POST" action="/send_and_thank">
				<label for="name">Name: </label>
				<input type="text" name="name"><br>

				<label for="subject">Subject: </label>
				<input type="text" name="subject"><br>

				<label for="email">Email: </label>
				<input type="text" name="email"><br>

				<label for="message">Message: </label><br>
				<textarea class="textarea" name="message" placeholder="Your message here!"></textarea><br>

				<input type="submit" class="submit-button">
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<img src="images/chocolate_cheesecake.jpg" alt="">
	</div>
</div>