<div class="row">
	<div class="col-sm-7 contact">
		<h2 class="page-heading">Contact Us!</h2>

		<div>
			<p>Do you need a <span class="emphasis upsize">craveworthy cheesecake</span> for your next event?</p>
			<p>Some <span class="emphasis upsize">delicious donuts</span>... or <span class="emphasis upsize">magnificent macarons</span>?</p>
			<p>A <span class="emphasis upsize">tantalizing tiramisu</span>?</p>
		</div>
		<div>
			<p>Send us a <span class="emphasis upsize">sweet</span> message in the contact form below.</p>
			<p>We'll get back to you within 24 hours!</p>
		</div>
		<div>
			<form method="POST" action="/send_and_thank">
				<label for="name">Name: </label>
				<input type="text" name="name"><br>

				<label for="subject">Subject: </label>
				<input type="text" name="subject"><br>

				<label for="email">Email: </label>
				<input type="text" name="email"><br>

				<span id="promo-message"></span>

				<label for="message">Message: </label><br>
				<textarea class="textarea" name="message" placeholder="Your message here!"></textarea><br>

				<input type="submit" class="submit-button">
			</form>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="affix contact-img">
			<img src="images/chocolate_cheesecake.jpg" alt="">
		</div>
	</div>
</div>

<!-- Begin modal -->
<div id="promoModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Begin content-->
		<div class="modal-content">
 			<div class="modal-header">
   				<button type="button" class="close" data-dismiss="modal">&times;</button>
    			<h4 class="modal-title">Winter Promotion!</h4>
  			</div>
  			<div class="modal-body">
   				<p class="modal-message">Just in time for winter solstice, <span class="emphasis-shoptitle">Electric Vegan Bakery</span> is offering a <span class="emphasis">10% discount</span> on any holiday cake purchased before December 21st! In your message, make sure to include the code <span class="emphasis upsize">SOLSTICE</span> to get the discount!</p>
   				<img src="images/peach.jpg" class="modal-image center-block">
 			</div>
 			<div class="modal-footer">
   				<button id="promocode" type="button" data-dismiss="modal">Add Promo Code</button>
   				<button type="button" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- End content -->
		</div>
</div> 
<!-- End modal -->