<h2 class="page-heading">Electric Vegan Bakeshop Gallery of Glory</h2>

<div class="row">
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/tartcake.jpg">
	</div>
	<div class="col-sm-3 gallery-image"> 
		<img class="img-responsive" src="images/chococupcake.jpg">
	</div>
	<div class="col-sm-3 gallery-image"> 
		<img class="img-responsive" src="images/moredonuts.jpg">
	</div>
	<div class="col-sm-3 gallery-image"> 
		<img class="img-responsive" src="images/mirrorcake.jpg">
	</div>
</div>

<div class="row">
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/berrycake.jpg">
	</div>
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/macarons.jpg">
	</div>
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/fruitcake.jpg">
	</div>
		<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/pastrydonuts.jpg">
	</div>
</div>

<div class="row">
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/raspberry.jpg">
	</div>
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/cupcake2.jpg">
	</div>
	<div class="col-sm-3 gallery-image">
		<img class="img-responsive" src="images/raindropcake.png">
	</div>
	<div class="col-sm-3 gallery-image"> 
		<img class="img-responsive"  src="images/bagel.jpg">
	</div>
</div>