<!--first parallax section -->
<div class="parallax"></div>
<div class="row header">
  <h1>Electric Vegan Bakeshop</h1>
  <p>Electric Vegan Bakery is here to electrify your tastebuds!</p>
  <p>Our products are all vegan (dairy-free, casein-free, and egg-free). We use the most natural and unrefined of sugars, as well as the highest-quality, freshest ingredients.</p>
  <p>Rest assured that we have your health, well-being, and happiness in mind.</p>
  <p>We have made it our mission to provide the best vegan treats in the city.</p>
</div>
  <!--second parallax section -->
  <div class="parallax1"></div>
  <div class="row header1">
    <h3>Great for both your next event and the Earth!</h3>
    <p class="testimonial">The raspberry chocolate cheesecake changed my entire life. I do not know how in the world I was able to survive without this. I recommend this bakery for anyone who loves healthy, sweet treats.</p>
    <p class="testimonial">I had no idea there was a bakery like this in Philly! As a vegan, I often have such a hard time finding treats I can eat. Thanks so much, Electric Vegan Bakery!</p>
  
  </div>
  <!--third parallax section -->
  <div class="parallax2"></div>
  <div class="row header2">
    <h3>Vegan Treats for Any Occasion</h3>
    <p class="testimonial">For people. For animals. For health. For the environment.</p>
    <p class="testimonial">This place was amazing. I came here to try a cupcake and walked away having ordered a special cake for my cousin's baby shower! Everyone on the staff was super friendly. I'm definitely making this place my go-to bakery!</p>
  </div>
    
  <!--fourth parallax section -->
  <div class="parallax3"></div>
  <div class="row header3">
    
    <div class="row">
      <div class="col-sm-6">
        <h3>Order now!</h3>
        <article>
          <p>We offer a wide variety of vegan cakes, pastries, cookies, donuts, and miniature fancies. Our family recipes have been passed down five generations. Contact us to place your order. Custom orders are our specialty!</p>
        </article>
      </div>  
      <div class="col-sm-3">
        <h3>Hours</h3>
        <ul class="list-unstyled">
          <li><span>Sunday: </span> 7AM - 11PM</li>
          <li><span>Monday: </span> 5AM - 11PM</li>
          <li><span>Tuesday: </span> 5AM - 11PM</li>
          <li><span>Wednesday: </span> 10AM - 4PM</li>
          <li><span>Thursday: </span> 5AM - 11PM</li>
          <li><span>Friday: </span> 5AM - 11PM</li>
          <li><span>Saturday: </span> 5AM - 11PM</li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>Location</h3>
        <p>Electric Vegan Bakeshop <br>
        1601 Cherry Street <br>
        Philadelphia PA 19102 <br>
        555-EAT-CAKE
        </p>
      </div>
    </div>
  </div>
