<!--first parallax section -->
<div class="parallax"></div>
<div class="row header">
  <div class=”row”>
    <article class=”col-sm-8”> We offer a wide variety of vegan cakes, pastries, cookies, donuts, and miniature fancies. Our family recipes have been passed down five generations. Contact us to place your order. Custom orders are our specialty!
    </article>
    <aside class="col-sm-4">
      <h3>Hours</h3>
      <ul class="list-unstyled">
        <li><span>Sunday: </span> 7AM - 11PM</li>
        <li><span>Monday: </span> 5AM - 11PM</li>
        <li><span>Tuesday: </span> 5AM - 11PM</li>
        <li><span>Wednesday: </span> 10AM - 4PM</li>
        <li><span>Thursday: </span> 5AM - 11PM</li>
        <li><span>Friday: </span> 5AM - 11PM</li>
        <li><span>Saturday: </span> 5AM - 11PM</li>
      </ul>

      <h3>Location</h3>
      <p>Electric Vegan Bakeshop <br>
        1601 Cherry Street <br>
        Philadelphia PA 19102</p>
      </aside>
    </div>
  </div>
  <!--second parallax section -->
  <div class="parallax1"></div>
  <div class="row header1">
    <h1>Holder</h1>
  </div>
  <!--third parallax section -->
  <div class="parallax2"></div>
  <div class="row header2">
    <h1>Holder</h1>
  </div>
  <!--fourth parallax section -->
  <div class="parallax3"></div>
  <div class="row header3">

  </div>
