<h3>Thanks for contacting us, <span class="emphasis"><%= @name %></span>!</h3>
<p>We'll get back to you as soon as we can.</p>

<div class="row animate">
	<img id="moving-img" src="images/cupcake.jpg">
</div>